.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.crd {
  flex: 7;
  width: 100% !important;
  background: var(--white) !important;
  color: var(--dark) !important;
  border-radius: 15px !important;
  border: 1px solid var(--orange) !important;
  transition: 0.3s all ease-in-out;
}
.crd_size {
  flex: 1 !important;
  width: 100% !important;
  margin: 20px 0 !important;
  background: var(--white) !important;
  color: var(--dark) !important;
  border-radius: 15px !important;
  border: 1px solid var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.crd .footer {
  border-color: var(--black) !important;
  transition: 0.3s all ease-in-out;
}

.btn {
  background: linear-gradient(90deg, #ffe502 0%, #ffa602 100%) !important;
  color: var(--black) !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  border: none !important;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background: var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.size {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

.size.active {
  background: var(--black) !important;
  color: var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.size:hover {
  cursor: pointer;
  border: 1px solid var(--dark);
  transition: 0.3s all ease-in-out;
}

.preview {
  max-width: 200px;
  max-height: 400px;
}

.textarea {
  background: var(--light) !important;
  border: none !important;
  color: var(--light) !important;
}
