.wrapper {
  background: #f5f5f5;
  padding-top: 20px;
}

.template {
  max-width: 300px;
  width: 90%;
  max-height: 332px;
  animation: previewAnim 5s infinite;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.templates {
  width: 400px !important;
}

.templates_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.temp_item {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: var(--dark);
  border: 1px solid var(--black);
  opacity: 0.5;
}

.temp_item.active {
  opacity: 1;
  border: 1px solid var(--primary);
}

.btn {
  padding: 10px 2rem !important;
  background: linear-gradient(90deg, #ffe502 0%, #ffa602 100%) !important;
  box-shadow: none !important;
  border-radius: 30px !important;
  color: var(--dark) !important;
  font-weight: bold !important;
  border: none !important;
}

.btn:hover {
  background: var(--dark) !important;
  color: var(--orange) !important;
}

.preview {
  background: var(--dark);
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@keyframes previewAnim {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .templates {
    width: 90% !important;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
