.wrapper {
  min-height: calc(100vh - 228px);
  background: var(--light);
}

.colors {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(6, 50px);
  column-gap: 10px;
}

.clr {
  height: 50px !important;
  width: 50px !important;
}

.clr.active {
  border: 3px solid var(--light);
}
