.crd {
  background: var(--light) !important;
  color: var(--dark) !important;
  border-radius: 15px !important;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border: none !important;
  border: 1px solid var(--orange) !important;
}

.crd:hover {
  border: 1px solid var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.crd:hover .footer {
  transition: 0.3s all ease-in-out;
}
.crd .footer {
  background-image: linear-gradient(90deg, #ffe502 0%, #ffa602 100%) !important;
  color: var(--dark) !important;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  transition: 0.3s all ease-in-out;
}

.price {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  color: var(--dark);
  font-weight: bold;
  background: linear-gradient(90deg, #ffe502 0%, #ffa602 100%);
  padding: 5px 25px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.discount {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 20px;
  color: var(--light);
  font-weight: bold;
  background: var(--dark);
  padding: 5px 25px;
  border-top-left-radius: 14px;
}
