.crd {
  background: var(--light) !important;
  color: var(--dark) !important;
  border-radius: 15px !important;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border: none !important;
  // box-shadow: 0px 5px 10px 0px #00000015;
}

.crd:hover {
  transition: 0.3s all ease-in-out;
}

.crd:hover .footer {
  transition: 0.3s all ease-in-out;
}
.crd .footer {
  transition: 0.3s all ease-in-out;
}
