.wrapper {
  min-height: calc(100vh - 228px);
  padding: 2rem 0;
}

.heading {
  font-size: 22px;
  border-radius: 15px !important;
}

.crd {
  margin: 0 auto;
  width: 28rem;
  background: var(--white);
  border-radius: 15px !important;
  overflow: hidden;
}

.btn {
  outline: none !important;
  border: none !important;
  padding: 8px 26px !important;
  color: var(--dark) !important;
  font-weight: bold !important;
  border-radius: 30px !important;
  background: linear-gradient(90deg, #ffe502 0%, #ffa602 100%) !important;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background: linear-gradient(90deg, #fae41a 0%, #fcaf22 100%) !important;
  transition: 0.3s all ease-in-out;
}

.link {
  color: var(--primary) !important;
}

.input {
  background: var(--light) !important;
  color: var(--dark) !important;
  border: 1px solid var(--secondary) !important;
  padding: 7px 15px !important;
  border-radius: 15px !important;
}

.eyeIcon {
  position: absolute;
  right: 5px;
  top: 58%;
  cursor: pointer;
  color: var(--dark) !important;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .crd {
    width: 90% !important;
    margin: 0 auto !important;
  }
}
