.wrapper {
  background: var(--light) !important;
  min-height: calc(100vh - 228px);
  padding: 2rem 0;
}

.heading {
  font-size: 22px;
}

.crd {
  margin: 0 auto;
  width: 28rem;
  background: var(--white);
}

.btn {
  outline: none !important;
  border: none !important;
  padding: 8px 26px;
  background: var(--primary) !important;
  color: var(--dark) !important;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background: rgb(9, 9, 9) !important;
  color: var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.link {
  color: var(--primary) !important;
}

.eyeIcon {
  position: absolute;
  right: 5px;
  top: 58%;
  cursor: pointer;
  color: var(--dark) !important;
  z-index: 99;
}
