.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

.teaser {
  position: relative;
  overflow: hidden;
}

.img_teaser {
  position: absolute;
  z-index: 23333 !important;
  width: 100% !important ;
  height: 700px !important;
  top: 0 !important;
  left: 0 !important;
}

.slide_bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider__content {
  padding-top: 100px;
  min-height: 90%;
}

.name__content {
  background: rgba(255, 255, 255, 0.534);
  padding: 20px 30px;
}

.prod_name {
  text-shadow: 1px 1px 0 rgb(255, 255, 255) !important;
  background-image: linear-gradient(90deg, #080808 0%, #000000 100%) !important;
  background-clip: text !important;

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.slide_top {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .logo {
    height: 40px;
    margin-right: auto;
  }
  .img {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .bottom_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    span {
      font-size: 24px;
    }
  }
  .off {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 9999;
  }

  .vc {
    background: var(--orange);
    color: #fff;
    width: 100px;
    text-align: center;
    padding: 6.5px 18px;
    position: relative;
  }
  .vc:after {
    width: 0;
    height: 0;
    border: 16px solid transparent;
    position: absolute;
    content: "";
    border-top-color: var(--orange);
    left: -23px;
    top: 0px;
    border-left-color: var(--orange);
    transform: rotate(180deg);
  }
  .vc:before {
    width: 0;
    height: 0;
    border: 17px solid transparent;
    position: absolute;
    content: "";
    border-bottom-color: var(--orange);
    left: -23px;
    top: -0px;
    transform: rotate(180deg);
  }
}

.slide_left {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
