.wrapper {
  background: var(--white);
  padding: 1rem;
}

.desc {
  font-size: 14px;
  color: var(--secondary);
}

.btn {
  outline: none !important;
  border: none !important;
  padding: 5px 26px;
  width: 100% !important;
  background: var(--orange) !important;
  transition: 0.3s all ease-in-out;
  margin-bottom: 12px;
  margin-right: 2.5rem;
}

.btn:hover {
  background: var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.btn_submit {
  outline: none !important;
  border: none !important;
  color: #fff !important;
  background: var(--orange) !important;
  padding: 5px 26px;
  transition: 0.3s all ease-in-out;
  margin-bottom: 12px;
  margin-right: 2.5rem;
}

.cancel_btn {
  padding: 5px 26px !important;
  margin-bottom: 12px;
  margin-right: 2.5rem;
}

.btn_submit:hover {
  transition: 0.3s all ease-in-out;
}

.btn_feedback {
  outline: none !important;
  border: 1px solid var(--orange) !important;
  padding: 5px 26px;
  width: 100% !important;
  background: var(--orange) !important;
  transition: 0.3s all ease-in-out;
  margin-bottom: 12px;
}

.btn_feedback:hover {
  border-color: var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.fb_wrapper {
  padding-top: 15px;
}

.feedback {
  background: var(--light) !important;
  // box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  margin-top: 8px;
  display: flex;
  border: 1px solid var(--light);
  border-radius: 15px !important;
  transition: 0.3s all ease-in-out;
}

.feedback.active {
  border: 1px solid var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.fb_text {
  color: var(--dark);
  display: block;
  padding-bottom: 8px;
}

.img_wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-right: 8px;
}

.username {
  font-size: 16px;
  margin-right: 4px;
  color: var(--dark);
}

.userrole {
  font-size: 13px;
  color: var(--dark);
}

.user_info {
  padding-bottom: 8px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
}
.delete {
  color: var(--danger) !important;
  transition: 0.3s all ease-in-out;
}

.delete:hover {
  color: var(--orange) !important;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.edit {
  color: var(--dark);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.edit:hover {
  color: var(--orange);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.fb_date {
  font-size: 13px;
  color: var(--secondary);
}

.textarea {
  background: rgba($color: #000000, $alpha: 0.1) !important;
  border: none !important;
  margin-top: 10px;
  border-radius: 15px !important;
  color: var(--dark) !important;
}

.modal {
  border-radius: 15px !important;
  overflow: hidden;
  color: var(--dark) !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.input {
  border-radius: 15px !important;
  padding: 10px 15px !important;
}
