.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 35px;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 10px;
  height: 36px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  border: 1px solid var(--dark);
  margin: 0 2px;

  transition: 0.3s all ease-in-out;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    font-size: 22px;
    text-decoration: none;
  }
  &:hover {
    background: var(--dark);
    a {
      color: var(--white);
      transition: 0.3s all ease-in-out;
    }
  }
}

.link {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.3s all ease-in-out;
  }
  a:hover {
    color: var(--black);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
    transition: 0.3s all ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .link {
    margin: 0;
  }
}
