.btn {
  outline: none !important;
  border: none !important;
  padding: 8px 26px !important;
  margin-top: 5px;
  font-weight: bold !important;
  border-radius: 30px !important;
  color: var(--dark) !important;
  background: var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background: var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.crd {
  background: var(--white) !important;
  color: var(--dark) !important;
  border-radius: 15px !important;
  transition: 0.3s all ease-in-out;
  border: none !important;
  border: 0px solid transparent !important;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}

.color {
  width: 20px !important;
  height: 20px !important;
  margin-left: 5px;
  border: 1px solid var(--dark);
}

.images {
  transform: scale(1);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.images:hover {
  transform: scale(1.02);
  transition: 0.3s all ease-in-out;
}
