.line {
  height: 80px !important;
  width: 4px !important;
  border-radius: 3px !important;
  background: linear-gradient(55deg, #ffe502 0%, #ffa602 100%) !important;
}

.small {
  font-size: 14px !important;
}

.lnk {
  text-decoration: none !important;
  color: var(--dark) !important;
  transition: 0.3s all ease-in-out;
}

.lnk:hover {
  color: var(--orange) !important;
  transition: 0.3s all ease-in-out;
}

.link {
  text-decoration: none;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--orange);
  cursor: pointer;
  color: var(--dark) !important;
  transition: 0.3s all ease-in-out;
  margin: 0 2px !important;
}

.link.link_arrow {
  border: 1px solid var(--light) !important;
}
.link.link_arrow.disabled {
  border: 1px solid var(--light) !important;
}

.link.disabled {
  cursor: none !important;
  color: var(--grey) !important;
  border-color: var(--dark) !important;
  transition: 0.3s all ease-in-out;
}
.link.active {
  cursor: none !important;
  color: var(--dark) !important;
  background: var(--primary) !important;
  border-color: var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.link:hover {
  color: var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

span.link:hover {
  color: var(--grey) !important;
  transition: 0.3s all ease-in-out;
}

.link.disabled:hover {
  cursor: default !important;
  color: var(--grey) !important;
  transition: 0.3s all ease-in-out;
}

.img_wrapper {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 45px !important;
}

.active_btn {
  margin-left: 10px !important;
  border-radius: 25px !important;
  padding: 7px 20px !important;
  background: none !important;
  margin-left: 10px !important;
  color: var(--dark) !important;
  text-decoration: none !important;
  border: 1px solid var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.active_btn:hover {
  background: none !important;
  color: var(--dark) !important;
  border: 1px solid var(--dark) !important;
  transition: 0.3s all ease-in-out;
}

.btn {
  color: var(--dark) !important;
  margin-left: 10px !important;
  border-radius: 25px !important;
  padding: 7px 20px !important;
  background: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  border: 1px solid var(--dark) !important;
  transition: 0.3s all ease-in-out;
}

.btn:focus,
.active_btn:focus {
  box-shadow: none !important;
  border: 1px solid var(--primary) !important;
}

.btn__grp {
  border: 1px solid var(--primary) !important;
}

.delete {
  color: var(--danger);
  font-size: 22px;
  transition: 0.3s all ease-in-out;
}
.delete:hover {
  color: var(--dark);
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.btn_modal:hover {
  cursor: pointer !important;
}

@media screen and (max-width: 768px) {
  .line {
    display: none;
  }
}
