.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  width: 40px;
}

.crd {
  width: 30rem;
  border-radius: 15px !important;
  overflow: hidden;
  background: var(--white) !important;
  border: 1px solid var(--white) !important;
}

.btn {
  outline: none !important;
  border: none !important;
  padding: 8px 26px;
  margin-top: 5px;
  font-weight: bold !important;
  border-radius: 30px !important;
  color: var(--dark) !important;
  /* background: linear-gradient(90deg, #ffe502 0%, #ffa602 100%) !important; */
  background: var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background: var(--orange) !important;
  /* background: linear-gradient(90deg, #fae41a 0%, #fcaf22 100%) !important; */
  transition: 0.3s all ease-in-out;
}

.btn_cancel {
  outline: none !important;
  border: none !important;
  padding: 8px 26px;
  margin-top: 5px;
  background: var(--danger) !important;
  transition: 0.3s all ease-in-out;
}

.btn_cancel:hover {
  background: var(--danger-hover) !important;
  transition: 0.3s all ease-in-out;
}

.dropdown {
  position: relative;
  .down_arrow {
    position: absolute;
    right: 7px;
    bottom: 23%;
    z-index: 8;
    color: var(--primary);
  }
}

@media screen and (max-width: 768px) {
  .crd {
    width: 90%;
  }
}
