.icon {
  color: var(--white) !important;
  background: linear-gradient(-45deg, #ffe502 0%, #ffa602 100%) !important;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  font-size: 36px;
}
